<div class="flex items-center justify-center h-screen bg-white">
    <div class="text-center">
        <img src="/images/404_nothing_found.jpg" alt="Libro Ausente" class="mx-auto mb-4 w-1/2 md:w-1/3">
        <h1 class="text-4xl font-bold text-gray-700">¡Oops! Página no encontrada</h1>
        <p class="mt-4 text-lg text-gray-800">Lo sentimos, no hemos podido encontrar la página que estabas buscando.</p>
        <a routerLink="/books" class="mt-6 inline-block px-6 py-2 text-white bg-blue-700 hover:bg-blue-800 rounded-md transition duration-300">Regresar al listado</a>
    </div>
</div>
